/*global css code*/

/*.Person {*/
/*    width: 60%;*/
/*    margin: 15px auto;*/
/*    border: 1px solid whitesmoke;*/
/*    box-shadow: 0 2px 3px lightgrey;*/
/*    padding: 16px;*/
/*    text-align: center;*/
/*}*/
/*@media (min-width: 500px) {*/
/*    .Person{*/
/*        width: 450px;*/
/*    }*/
/*}*/

.red {
    color: red;
}

.bold {
    font-weight: bold;
}

.Button {
    background-color: green;
    color: white;
    font: inherit;
    border: 1px solid blue;
    padding: 8px;
    cursor: pointer;
}

.Button:hover {
    background-color: lightgreen;
    color: black;
}

